body {
    background-color: rgb(91, 208, 255);
}

.general {
    background-color: white;
    box-shadow: 10px 10px 20px;
    margin: 50px;
    padding: 40px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    font-size: 30px;
    font-family: sans-serif;
}

.title {
    font-size: 70px;
    font-family: sans-serif;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.links {
    font-size: 20px;
    color: white;
    font-family: monospace;
}

footer {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.FOOT {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.footPart {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.footTitle {
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

#ListProjects {
    margin: 40px;
}

.ProjectGroup {
    display: grid;
    grid-template-columns: 200px 3px auto;
    grid-template-areas: "a b c";
    gap: 30px;
    font-size: 0px;
    border-radius: 4px;
    background-color: rgb(71, 71, 71);
    padding: 20px;
}

.projectstext {
    font-family: monospace;
    color: black;
}

.separation {
    margin: 40px;
    height: 5px;
    background-color: red;
}